@import "variables";
@import "mixins";

.userList {
  .flexList(@gameListColor1, @gameListColor2, user);
  width: 100%;

  > user {
    .border-radius(5px);
    margin-bottom: 10px;
    &.highlight {
      box-shadow: @highlightUnchangedColor 0 0 10px 0px;
    }
  }

  username {
    display: inline-block;
    width: 200px;
  }
}

edit-game {
  display: block;
  overflow: hidden;
}