@import "mixins";
@import "variables";


chat {
  @spacing: 15px;
  @margin: 5px;
  .flexbox();
  .border-radius(4px);
  margin-top: 20px;
  background: fade(@baseColor, 10%);
  border: 1px solid fade(@baseColor, 10%);
  width: 100%;
   * {
     margin: 0;
     padding: 0;
   }
  .chatArea {
    .flex(1);
    .flexbox(vertical);
    margin: @margin @spacing @margin @margin;
    width: 100%;
    messages {
      .flex(1);
      display: block;
      resize: vertical;
      max-height: 500px;
      height: 70pt;
      overflow-y: auto;
      margin-bottom: @spacing;
      background: fade(@baseColor, 10%);
      border: 1px solid fade(@baseColor, 10%);
      .border-radius(4px);
      ol {
        list-style: none;
        min-height: 100%;
        li {
          color: @msgColor;
          padding: 0 4px;
          .time {
            font-family: monospace;
          }
          .message {
            white-space: pre-wrap;
            word-break: break-word;
          }
          &.sent {
            color: @msgSelfColor;
          }
          &.group {
            color: @msgGroupColor;
            background-color: fade(@msgGroupColor, 10%);
          }
          &.private {
            color: @msgPrivateColor;
            background-color: fade(@msgPrivateColor, 10%);
          }
          &:hover {
            background-color: fade(@activeColor, 10%);
          }
        }
      }
    }
    form {
      .flexbox(center);
      width: 100%;
      .chat-message {
        .flex(1);
        margin-right: @spacing;
        display: block;
        font-size: 13pt;
        padding: 5px;
      }
      .chat-submit {
        display: block;
      }
    }
  }
  select {
    .min-size(200px, 100%);
    max-width: 500px;
    margin: @margin @margin @margin 0;
    display: block;
  }
}