@import "variables";
@import "mixins";

input, select, textarea {
  .border-radius(4px);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, @button-light), color-stop(1, @button-color) );
  background: -moz-linear-gradient( center top, @button-light 5%, @button-color 100% );
  background-color: @button-color;
  border: 1px solid @button-color;
  color: @fgColor;
  &:focus {
    .box-shadow(0, 0, 3px, 1px, @highlightNewColor);
  }
  &.ng-invalid {
    .box-shadow(0, 0, 4px, 2px, @notificationColorError);
  }
}

button, .button, input[type="button"], input[type="submit"] {
  @button-disabled: mix(mix(@bgColor, @fgColor, 90%), @baseColor, 80%);
  .box-shadow(inset, 0, 1px, @button-inset-color);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, @button-light), color-stop(1, @button-color) );
  background: -moz-linear-gradient( center top, @button-light 5%, @button-color 100% );
  background-color: @button-light;
  .border-radius(6px);
  text-indent: 0;
  font-size: 13pt;
  border: 1px solid @button-color;
  display: inline-block;
  color: @bgColor;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-shadow: 1px 1px 0px mix(@bgColor, @baseColor, 50%);
  &:hover, &.active {
    .box-shadow(inset, 0, 1px, @button-inset-color-active);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, @button-color), color-stop(1, @button-light) );
    background: -moz-linear-gradient( center top, @button-color 5%, @button-light 100% );
    background-color: @button-color;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &:disabled {
    .box-shadow(inset, 0, 1px, @button-inset-color);
    background: @button-disabled;
    color: mix(@fgColor, @bgColor, 10%);
    text-shadow: 1px 1px 0px mix(@fgColor, @bgColor, 40%);
    top: 0px;
  }
  &:focus {
    .box-shadow(0, 0, 3px, 1px, @highlightNewColor);
  }
}