@import "variables";
@import "mixins";
@import "form";
@import "ui";
@import "voting";
@import "toaster";
@import "admin";
@import "editGame";
@import "chat";
@import "animations";

body {
  background: mix(@baseColor, @bgColor, 5%);
  color: @fgColor;
  min-height: 100%;
  margin: 0 10px;
  a {
    color: @fgColor;
    text-decoration: none;
    text-shadow: fade(@baseColor, 60%) 0 0 2px;
    font-weight: bold;
    &:hover {
      text-shadow: fade(@baseColor, 90%) 0 0 5px;
    }
  }
}

*:focus {
  outline: none;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: @spinnerBg;
  opacity: 0.9;
  z-index: 99;
  .spinner {
    position: static !important;
    margin: auto !important;
    > div > div {
      background-color: @spinnerColor !important;
    }
  }
}

.container {
  padding-top: @headerHeight;
  padding-bottom: @footerHeight;
  max-width: 1200px;
  margin: auto auto;
  header-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: @headerHeight;
    line-height: @headerHeight;
    background: @headerColor;
    padding: 5px 15px 5px 5px;
    z-index: 100;
    header {
      .flexbox();
      width: 100%;
      height: 0; // allows toaster to display toasts while clicks outside of toasts reach article
      overflow: visible;
      branding {
        a {
          color: @bgColor;
          #logo {
            width: 80px;
            height: 30px;
            background-image: url('../img/logo.png');
            background-image: url('../img/logo.svg');
            &:hover {
              background-position: 0 -30px;
            }
          }
        }
        display: block;
        margin-right: 0.5em;
      }
      nav {
        .flex(1);
        display: block;
        z-index: 101;
        text-align: left;
        a {
          text-shadow: @bgColor 0 0 3px;
          color: fade(@fgColor, 65);
          margin-right: 0.3em;
          &:hover {
            color: fade(@fgColor, 80);
          }
          &.active {
            color: @fgColor;
            cursor: default;
          }
        }
      }
    }
  }
  footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: @footerHeight;
    background: @footerColor;
    box-shadow: @footerShadowColor 0 0 5px 1px;
    #logout {
      padding-left: 0.5em;
    }
    &.show-chat {
      height: @footerHeight + @chatHeight;
    }
    footer-summary {
      content {
        position: absolute;
        left: 0;
        z-index: 104;
        width: 100%;
        height: 100%;
        line-height: @footerHeight;
        content-flex {
          width: 100%;
          .flexbox(center);
          username, aside {
            display: block;
          }
          #ready {
            .flex(1);
            text-align: center;
            input {
              .scale(1.5);
            }
            &.error {
              color: @notificationColorError !important;
              text-shadow: fade(@notificationColorError, 60%) 0 0 2px;
            }
          }
          .chat-trigger {
            padding-right: 0.5em;
            cursor: pointer;
          }
        }
      }
      progressbar {
        opacity: 0.5;
        left: 0;
        width: 100%;
        height: @footerHeight;
        position: absolute;
        z-index: 103;
      }
    }
    &.ready {
      box-shadow: @footerShadowColorOK 0 0 5px 1px !important;
    }
  }
  [ng-view] {
    clear: both;
  }
}

fieldset {
  border: none;
  > ul {
    padding: 0;
    > li {
      .flexbox(center);
      width: 100%;
      list-style: none;
      label {
        display: block;
        min-width: 200px;
      }
      input, textarea {
        .flex(1);
        display: block;
        padding: 2px;
        &[type="radio"] {
          display: inline-block;
          margin-right: 1em;
        }
      }
      img.small-image {
        .size(@iconSize);
      }
      textarea {
        height: 8em;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          width: 100%;
          .border-radius(0.2em);
          padding: 0.2em;
          &.active {
            background: @activeColor;
          }
        }
      }
    }
  }
}

// used anywhere?
errors {
  .border-radius(5px);
  .box-shadow(0, 0, 5px, @notificationColorError);
  background: @notificationColorError;
  display: block;
  error {
    padding: 0.5em;
    display: block;
  }
}
