@import "variables";

.flexbox(...) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
}

.flexbox(vertical) {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexbox(center) {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.flexbox(vertical, center) {
  .flexbox(center);
  .flexbox(vertical);
}

.flex(@int: none) {
  -webkit-flex: @int;
  -moz-flex: @int;
  -ms-flex: @int;
  flex: @int;
}

.flex-basis(@int: initial) {
  -webkit-flex-basis: @int;
  -moz-flex-basis: @int;
  -ms-flex-basis: @int;
  flex-basis: @int;
}

.flexImageWrapper(@width, @height: @width) {
  .min-size(0);
  .max-size(@width, @height);
  .size(@width, @height);
  > img {
    .size(@width, @height);
  }
  display: block;
  overflow: hidden;
}

.flexList(@background, @background2: @background, @item: 'div') {
  .flexbox(vertical);
  > @{item} {
    display: block;
    width: 100%;
    background: @background;
    &:nth-child(2N) {
      background: @background2;
    }
  }
}

.scale(@float) {
  .transform(0, @float)
}

.size(@width, @height: @width) {
  width: @width;
  height: @height;
}

.min-size(@width, @height: @width) {
  min-width: @width;
  min-height: @height;
}

.max-size(@width, @height: @width) {
  max-width: @width;
  max-height: @height;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.border-radius-bottom(@radius) {
  -webkit-border-radius: 0 0 @radius @radius;
  -moz-border-radius: 0 0 @radius @radius;
  border-radius: 0 0 @radius @radius;
}

.box-shadow(@xOff, @yOff, @color) {
  .box-shadow(@xOff, @yOff, 0, 0, @color)
}

.box-shadow(@xOff, @yOff, @blur, @color) {
  .box-shadow(@xOff, @yOff, @blur, 0, @color)
}

.box-shadow(@xOff, @yOff, @blur, @spread, @color) {
  -webkit-box-shadow: @xOff @yOff @blur @spread @color;
  -moz-box-shadow: @xOff @yOff @blur @spread @color;
  box-shadow: @xOff @yOff @blur @spread @color;
}

.box-shadow(inset, @xOff, @yOff, @color) {
  .box-shadow(inset, @xOff, @yOff, 0, 0, @color)
}

.box-shadow(inset, @xOff, @yOff, @blur, @color) {
  .box-shadow(inset, @xOff, @yOff, @blur, 0, @color)
}

.box-shadow(inset, @xOff, @yOff, @blur, @spread, @color) {
  -webkit-box-shadow: inset @xOff @yOff @blur @spread @color;
  -moz-box-shadow: inset @xOff @yOff @blur @spread @color;
  box-shadow: inset @xOff @yOff @blur @spread @color;
}

.transition-duration(@length) {
  -webkit-transition-duration: @length;
  -moz-transition-duration: @length;
  -o-transition-duration: @length;
  transition-duration: @length;
}

.transition-property(...) {
  -webkit-transition-property: @arguments;
  -moz-transition-property: @arguments;
  -o-transition-property: @arguments;
  transition-property: @arguments;
}

.linear-transition(@length, @target: all) {
  -webkit-transition: @length linear @target; /* Safari/Chrome */
  transition: @length linear @target; /* All other modern browsers and IE10+ */
}

.transition(@time: 1s, @target: all, @type: ease) {
  -webkit-transition: @time @type;
  -moz-transition: @time @type;
  -o-transition: @time @type;
  transition: @time @type;
  .transition-property(~`"@{target}".slice(1,-1)`);
}

.transform(@translate: 0, @scale: 1, @rotate: 0deg, @skew: 1deg) {
  -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
  transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}