@import "variables";
@import "mixins";

toaster {
  display: block;
  amount, toast {
    .border-radius(4px);
    cursor: pointer;
    width: 100%;
    border: 1px solid fade(@fgColor, 30%);
    padding: 0 3px;
    margin-bottom: 5px;
    clear: both;
    float: left;
    background: fade(@bgColor, 20%);
    &.error {
      background: fade(@notificationColorError, 80%);
      &:hover {
        background: fade(@notificationColorError, 90%);
      }
    }
    &.info {
      background: fade(@notificationColorInfo, 80%);
      &:hover {
        background: fade(@notificationColorInfo, 90%);
      }
    }
    &.success {
      background: fade(@notificationColorSuccess, 80%);
      &:hover {
        background: fade(@notificationColorSuccess, 90%);
      }
    }
  }
  amount {
    a {
      color: @baseColor;
      text-decoration: none;
      float: right;
    }
  }
}