@import "variables";
@import "mixins";

slider {
  width: 300px;
  height: 20px;
  display: block;
  .box-shadow(0, 0, 8px, @baseColor);
  .border-radius(0.2em);
  .slider-bounds {
    margin: 0 0.5em;
    position: relative;
    .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 1em;
      margin-left: -0.5em;
      height: 20px;
      cursor: default;
      .border-radius(0.2em);
      background-color: fade(black, 50%);
      &.ui-state-hover {
        background-color: fade(black, 40%);
      }
      &.ui-state-active, &:focus {
        background-color: fade(black, 30%);
      }
    }
    &.show-label {
      margin: 0 1em;
      .ui-slider-handle {
        color: white;
        text-decoration: none;
        width: 2em;
        margin-left: -1em;
        text-align: center;
      }
    }
  }
}

progressbar, [progressbar] {
  .ui-progressbar-value {
    display: block !important;
    position: absolute;
    .transition-duration(1s);
    height: 100%;
    top: 0;
    left: 0;
    .border-radius(3px);
  }
}

.ui-datepicker {
  display: none;
  background: @widgetColor;
  padding: 0.5em;
  width: 14em;
  .border-radius(0.5em);
  .box-shadow(0, 0, 1em, @widgetColor);
  .ui-datepicker-prev {
    float: left;
    cursor: pointer;
  }
  .ui-datepicker-next {
    float: right;
    cursor: pointer;
  }
  .ui-datepicker-title {
    text-align: center;
  }
  table.ui-datepicker-calendar {
    width: 100%;
    tbody {
      a {
        text-decoration: none;
        color: @fgColor;
      }
      td {
        text-align: center;
        cursor: pointer;
        &.ui-datepicker-today {
          background: lighten(@activeColor, 10%);
        }
        &.ui-datepicker-current-day {
          background: lighten(@activeColor, 15%);
        }
        &:hover {
          background: lighten(@activeColor, 20%);
        }
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-widget {
  background: @widgetColor;
}
.ui-menu {
  padding: 0.5em;
  list-style: none;
  max-width: 20em;
  .border-radius-bottom(5px);
  .ui-menu-item {
    display: block;
    cursor: pointer;
    &:hover {
      background: lighten(@activeColor, 20%);
    }
  }
}