// main
@iconSize: 48px;
@iconSizeHover: 128px;
@variantsImgSize: 32px;
@baseColor: mix(@fgColor, green, 70%);

//* Inverted Light
@fgColor: white;
@bgColor: black;
@button-color: mix(@bgColor, @baseColor, 75%);
@button-light: mix(@bgColor, @baseColor, 60%);
@button-inset-color: mix(@bgColor, @baseColor, 60%);
@button-inset-color-active: mix(@bgColor, @baseColor, 50%);
/*/
@fgColor: black;
@bgColor: white;
@button-color: mix(@bgColor, @baseColor, 60%);
@button-light: mix(@bgColor, @baseColor, 75%);
@button-inset-color: mix(@bgColor, @baseColor, 65%);
@button-inset-color-active: mix(@bgColor, @baseColor, 40%);
//*/

@headerHeight: 20pt;
@footerHeight: 18pt;
@chatHeight: 134pt;
@headerColor: fade(mix(@baseColor, @bgColor, 30%), 90%);
@footerColor: @headerColor;
@spinnerColor: @headerColor;
@spinnerBg: mix(@bgColor, @fgColor, 95%);
@widgetColor: @headerColor;
@footerShadowColor: mix(@fgColor, red, 20%);
@footerShadowColorOK: mix(@fgColor, green, 20%);
// toaster
@notificationColorError: mix(yellow, red, 10%);
@notificationColorInfo: mix(yellow, @bgColor, 50%);
@notificationColorSuccess: mix(yellow, green, 10%);
// voting
@gameListColor1: fade(@baseColor, 10%);
@gameListColor2: fade(@baseColor, 18%);
@highlightUnchangedColor: mix(orange, red, 60%);
@highlightNewColor: mix(@fgColor, green, 20%);
// actions
@activeColor: @highlightNewColor;
// chat
@msgColor: @fgColor;
@msgSelfColor: @baseColor;
@msgGroupColor: mix(@notificationColorInfo, @baseColor, 30%);
@msgPrivateColor: mix(@notificationColorError, @baseColor, 40%);
