@import "variables";
@import "mixins";

.gameList {
  .flexList(@gameListColor1, @gameListColor2, game-wrapper);
  .flexList(@gameListColor1, @gameListColor2, edit-game-wrapper);
  width: 100%;

  game {
    .flexbox(center);
    width: 100%;
    > div {
      .flex(1);
    }
    > * {
      display: block;
      margin-right: 5px;
    }
  }

  img-wrapper {
    border: 1px solid fade(@fgColor, 50%);
    background: fade(@bgColor, 80%);
    position: relative;
    > div {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  > game-wrapper, > edit-game-wrapper {
    .border-radius(5px);
    display: block;
    margin-bottom: 10px;
    border: 1px solid fade(@fgColor, 20%);
    &.unchanged {
      border: 1px solid fade(@fgColor, 40%);
      box-shadow: @highlightUnchangedColor 0 0 10px 0px;
    }
    &.new {
      border: 1px solid fade(@fgColor, 60%);
      box-shadow: @highlightNewColor 0 0 10px 2px !important;
    }
    &:last-child {
      margin-bottom: 10px + (@iconSizeHover - @iconSize) / 2;
    }
    > game {
      &:last-child img-wrapper {
        .border-radius(4px 0 0 4px);
      }
      img-wrapper {
        .flexImageWrapper(@iconSize);
        .border-radius(4px 0 4px 0);
      }
    }
    > variants {
      .flexList(@gameListColor1, @gameListColor2, game-wrapper);
      .flexList(@gameListColor1, @gameListColor2, edit-game-wrapper);
      width: 100%;
      margin-top: 5px;
      max-height: 20px;
      &.expanded {
        max-height: none;
        > game-wrapper > game, > edit-game-wrapper > game {
          visibility: visible;
        }
      }
      > game-wrapper > game, > edit-game-wrapper > game {
        visibility: hidden;
        img-wrapper {
          margin: 1px 5px 1px (@iconSize - @variantsImgSize);
          .flexImageWrapper(@variantsImgSize);
        }
      }
    }
  }
}

result {
  margin-top: 15px;
  width: 100%;
  .flexbox(vertical, center);
  game-result {
    @borderColor: fade(black, 60%);
    .flexbox(vertical, center);
    .border-radius(5px);
    .box-shadow(1px, 1px, 5px, @borderColor);
    .max-size(50%);
    margin-bottom: 7px;
    background: fade(@highlightNewColor, 50%);
    border: 2px solid @borderColor;
    padding: 0.3em;
    h1 {
      margin: 0;
    }
    img-wrapper {
      img {
        .max-size(100%);
        .border-radius(5px);
        border: 2px solid black;
      }
    }
    > * {
      display: block;
    }
  }
}