<footer ng-class="voting.footerClasses" ng-controller="footerCtrl">
    <footer-summary>
        <progressbar max="{{voting.peers.total}}" value="{{voting.peers.ready}}"></progressbar>
        <content>
            <content-flex>
                <username ng-bind="status.username"></username>
                <a id="logout" href="/logout" i18n="footer.logout"></a>
                <div id="ready">
                    <label for="readyBox" i18n="footer.ready"></label>
                    <input id="readyBox" type="checkbox" ng-model="voting.ready" ng-disabled="!voting.allowed" />
                    <span ng-cloak>{{voting.peers.ready}} / {{voting.peers.total}}</span>
                </div>
                <div class="chat-trigger" ng-click="chat.show = !chat.show" i18n="footer.chatToggle"></div>
                <aside id="language-selection" ng-if="i18n.ready">
                    <label for="language" i18n="footer.language"></label>
                    <select id="language" ng-options="'footer.languages.' + l | i18n for l in i18n.locales" ng-model="i18n.currentLocale"></select>
                </aside>
            </content-flex>
            <chat ng-cloak>
                <div class="chatArea">
                    <messages>
                        <ol>
                            <li ng-repeat="msg in chat.history" ng-class="msg.classes">
                                <span class="time" ng-bind="msg.time"></span> -
                                <span class="sender" ng-bind="msg.sender.name"></span>:
                                <span class="message" ng-bind="msg.message"></span>
                            </li>
                        </ol>
                    </messages>
                    <form>
                        <input class="chat-message" type="text" ng-model="chat.message" accesskey="c" placeholder="{{'footer.chat.message' | i18n}}" />
                        <input class="chat-submit" type="submit" ng-click="chat.send()" ng-value="'footer.chat.send' | i18n" ng-disabled="chat.message.trim() == '' || !chat.peers.length"/>
                    </form>
                </div>
                <select multiple="yes" ng-model="chat.selectedPeers">
                    <option ng-repeat="peer in chat.peers" ng-value="peer.ip">{{peer.name}} - {{peer.ip}}</option>
                </select>
            </chat>
        </content>
    </footer-summary>
</footer>