<nav>
    <a href="#/voting" i18n="header.nav.voting" ng-class="{active: currentPath == '/voting'}"></a>
    <a href="#/manage-games" i18n="header.nav.add-games" ng-class="{active: currentPath == '/manage-games'}"></a>
</nav>