<nav>
    <a href="#/login" i18n="header.nav.login" ng-class="{active: currentPath == '/login'}"></a>
    <a href="#/register" i18n="header.nav.register" ng-class="{active: currentPath == '/register'}"></a>
</nav>