<nav>
    <a href="#/voting" i18n="header.nav.voting" ng-class="{active: currentPath == '/voting'}"></a>
    <a href="#/manage-games" i18n="header.nav.manage-games" ng-class="{active: currentPath == '/manage-games'}"></a>
    <a href="#/manage-users" i18n="header.nav.users" ng-class="{active: currentPath == '/manage-users'}"></a>
</nav>