<h1 i18n="header.nav.login"></h1>
<form name="login" action="/login" method="post">
    <errors ng-if="error">
        <error><div i18n="{{error}}"></div></error>
    </errors>
    <fieldset>
        <ul>
            <li><label for="username" i18n="form.username"></label><input type="text" name="username" ng-model="username" id="username"/></li>
            <li><label for="password" i18n="form.password"></label><input type="password" name="password" ng-model="password" id="password"/></li>
        </ul>
    </fieldset>
    <button type="submit" i18n="form.login"></button>
</form>