<h2 i18n="header.nav.manage-games"></h2>
<button i18n="form.add" ng-click="addNew = !addNew" ng-class="{active: addNew}"></button>
<edit-game game="newGame" save="createNewGame()" ng-if="addNew" admin="true"></edit-game>
<section class="gameList">
    <edit-game-wrapper ng-repeat="game in games" game="game" preview="preview" ng-class="game.classes" />
</section>
<img-preview data="preview" />