<h2 i18n="header.nav.users"></h2>
<div class="userList">
    <user ng-repeat="user in users.all">
        <username ng-bind="user.username"></username>
        <active>
            <label for="user.active.{{user.username}}" i18n="form.user.active"></label>
            <input type="checkbox" id="user.active.{{user.username}}" ng-model="user.active"/>
        </active>
    </user>
</div>
<button type="button" ng-click="users.update()" i18n="form.save"></button>