<h1 i18n="header.nav.voting"></h1>
<section class="gameList">
    <game-wrapper ng-repeat="game in games" ng-if="game.active" data="game" preview="preview" ng-class="game.classes" />
</section>
<img-preview data="preview" />
