<form name="gameForm" ng-submit="submit()">
    <aside spinner="{{loadingFromGameDb}}"></aside>
    <fieldset>
        <errors ng-if="!gameForm.$valid">
            <error ng-if="gameForm.title.$error.required"><div i18n="header.toasts.error.game.title-required"></div></error>
        </errors>
        <ul>
            <li>
                <label for="editGame.title" i18n="form.game.title"></label>
                <input id="editGame.title" name="title" type="text" placeholder="{{'form.game.title' | i18n}}" autocomplete="gamesSource(req, res)" select="gameSelect(item)" render-item="renderItem(ul, item)" ng-model="game.title" required/>
            </li>
            <li>
                <label for="editGame.votingType" i18n="form.game.votingType"></label>
                <select id="editGame.votingType" name="votingType" ng-model="game.votingType">
                    <option value="0" i18n="form.game.votingTypes.none"></option>
                    <option value="1" i18n="form.game.votingTypes.slider"></option>
                </select>
            </li>
            <li>
                <label for="editGame.released" i18n="form.game.released"></label>
                <input id="editGame.released" type="text" datepicker="game.released" placeholder="{{'form.game.released' | i18n}}"/>
            </li>
            <li>
                <label for="editGame.publisher" i18n="form.game.publisher"></label>
                <input id="editGame.publisher" type="text" placeholder="{{'form.game.publisher' | i18n}}" ng-model="game.publisher"/>
            </li>
            <li>
                <label for="editGame.genre" i18n="form.game.genre"></label>
                <input id="editGame.genre" type="text" placeholder="{{'form.game.genre' | i18n}}" ng-model="game.genre"/>
            </li>
        </ul>
        <ul>
            <li ng-show="meta.gamesDbResult.images">
                <label for="meta.gamesDb" i18n="form.game.image.gamesDb"></label>
                <input id="meta.gamesDb" type="radio" ng-model="meta.image.source" value="gamesDb"/>
                <ul>
                    <li ng-repeat="image in meta.gamesDbResult.images" ng-class="{active: image.url == meta.image.gamesDb}">
                        <img ng-src="{{image.url}}" class="small-image" ng-click="imgPreview(image)" />
                        <a ng-click="chooseGameDbImage(image)" class="button" i18n="form.game.image.use"></a>
                    </li>
                </ul>
            </li>
            <li>
                <label for="meta.url" i18n="form.game.image.url"></label>
                <input id="meta.url" type="radio" ng-model="meta.image.source" value="url"/>
                <input type="url" placeholder="http://" ng-model="meta.image.url" ng-focus="meta.image.source = 'url'"/>
            </li>
            <li>
                <label for="meta.serverUrl" i18n="form.game.image.serverUrl"></label>
                <input id="meta.serverUrl" type="radio" ng-model="meta.image.source" value="serverUrl"/>
                <input type="text" placeholder="game-art/image-[id].[ext]" ng-model="meta.image.serverUrl" ng-focus="meta.image.source = 'serverUrl'"/>
            </li>
            <!--<li>-->
                <!--<label for="meta.imageSource" ng-bind="'form.game.image.upload' | i18n"></label>-->
                <!--<input id="meta.imageSource" type="radio" ng-model="meta.image.source" value="upload"/>-->
                <!--<input id="editGame.image" type="file" ng-model="game.image.upload"/>-->
            <!--</li>-->
        </ul>
        <ul>
            <li ng-show="meta.gamesDbResult.images">
                <label for="meta.icon.gamesDb" i18n="form.game.icon.gamesDb"></label>
                <input id="meta.icon.gamesDb" type="radio" ng-model="meta.icon.source" value="gamesDb"/>
                <ul>
                    <li ng-repeat="image in meta.gamesDbResult.images" ng-class="{active: image.url == meta.icon.gamesDb}">
                        <img ng-src="{{image.url}}" class="small-image" ng-click="imgPreview(image)" />
                        <a ng-click="chooseGameDbIcon(image)" class="button" i18n="form.game.image.use"></a>
                    </li>
                </ul>
            </li>
            <li>
                <label for="meta.icon.url" i18n="form.game.icon.url'"></label>
                <input id="meta.icon.url" type="radio" ng-model="meta.icon.source" value="url"/>
                <input type="url" placeholder="http://" ng-model="meta.icon.url" ng-focus="meta.icon.source = 'url'"/>
            </li>
            <li>
                <label for="meta.icon.serverUrl" i18n="form.game.icon.serverUrl"></label>
                <input id="meta.icon.serverUrl" type="radio" ng-model="meta.icon.source" value="serverUrl"/>
                <input type="text" placeholder="game-art/icon-[id].[ext]" ng-model="meta.icon.serverUrl" ng-focus="meta.icon.source = 'serverUrl'"/>
            </li>
            <!--<li>-->
                <!--<label for="meta.icon.imageSource" ng-bind="'form.game.icon.upload' | i18n"></label>-->
                <!--<input id="meta.icon.imageSource" type="radio" ng-model="meta.icon.source" value="upload"/>-->
                <!--<input id="editGame.icon" type="file"  ng-model="game.icon.upload"/>-->
            <!--</li>-->
        </ul>
        <ul>
            <li>
                <label for="editGame.description" i18n="form.game.description"></label>
                <textarea id="editGame.description" placeholder="{{'form.game.description' | i18n}}" ng-model="game.description"></textarea>
            </li>
            <li>
                <label for="editGame.variantOf" i18n="form.game.variantOf"></label>
                <input type="text" id="editGame.variantOf" placeholder="{{'form.game.variantOf' | i18n}}" ng-model="meta.variantOf" autocomplete="variantSource(req, res)" select="variantSelect(item)" />
            </li>
        </ul>
        <button type="submit" ng-disabled="!gameForm.$valid" i18n="{{edit ? 'form.save' : 'form.add'}}"></button>
    </fieldset>
</form>
<img-preview data="preview" />